# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Tiny charcoal/coal will help with not wasting fuel, as well as producing unnecessary pollution
        Build a Supply Ship or camp for an easy and cheap starter base
        Get your Colony up and running as soon as possible, they will help you gather materials quickly
        The colonist miner can find ores that the player can't
        To get started with Thaumcraft, have the Miner dig up Thaumcraft Geodes, and break them down into crystals yourself
        Ores only spawn on exposed cave walls. Strip mining will be useless
        There are open big caves deep down underground. Exploring these can be quite dangerous, but also rewarding
        Tell your miner to stick to upper mining floors to not get lost in huge caves deep underground
        Grass and crops grow quicker when they absorb carbon, use this to your advantage!
        You can stack items like ingots, gears, and plate in-world by shift right clicking the ground
        Diesel Generators can be powered with Steam, but steam boilers produce a lot of pollution
        Large ore veins contain a rare TechGuns ore block that can be mined indefinitely
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


